<div class="budget-bar-content">
  <div class="budget-bar-header">
    <span class="budget-bar-value {{ status_class }}">
      {{ "{:,}".format(headroom) }}
    </span>
    <span class="budget-bar-label"> tokens of headroom </span>
    <span class="budget-bar-meta">
      {{ "{:,}".format(used) }} / {{ "{:,}".format(limit) }} used &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; {{ headroom_pct }}% free &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; {{ turns }} turns &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; {{ cache_hits }} cache hits &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; ${{ "%.4f"|format(total_cost) }} total{% if last_turn_cost %} (${{ "%.4f"|format(last_turn_cost) }} last turn){% endif %}{% if cost_limit %} &nbsp;<span class="budget-bar-separator">|</span>&nbsp; ${{ "%.2f"|format(cost_remaining) }} / ${{ "%.2f"|format(cost_limit) }} budget remaining{% endif %}
    </span>
  </div>
  <progress
    class="budget-progress {{ status_class }}"
    value="{{ used_pct }}"
    max="100"
  ></progress>
</div>
