<div class="budget-bar-content">
  <div class="budget-bar-header">
    <span class="budget-bar-value {{ status_class }}">
      {{ "{:,}".format(headroom) }}
    </span>
    <span class="budget-bar-label"> tokens of headroom </span>
    <span class="budget-bar-meta">
      {{ "{:,}".format(used) }} / {{ "{:,}".format(limit) }} used &nbsp;<span
        class="budget-bar-separator"
        >|</span
      >&nbsp; {{ headroom_pct }}% free &nbsp;<span class="budget-bar-separator"
        >|</span
      >&nbsp; {{ turns }} turns &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; {{ cache_hits }} cache hits &nbsp;<span class="budget-bar-separator">|</span
      >&nbsp; ${{ "%.4f"|format(total_cost) }}{% if cost_limit %} / ${{ "%.2f"|format(cost_limit) }} budget{% endif %}{% if cost_remaining is not none %} &nbsp;<span class="budget-bar-separator">|</span>&nbsp; ${{ "%.4f"|format(cost_remaining) }} remaining{% endif %}
    </span>
  </div>
  <progress
    class="budget-progress {{ status_class }}"
    value="{{ used_pct }}"
    max="100"
  ></progress>
</div>
